@use '../App'

#home-main
    display: flex
    flex-direction: column
    padding-bottom: 100px

    #buttons
        width: 100vw
        height: fit-content
        background-color: App.$primary-color
        display: flex
        justify-content: center
        gap: 10px

        a
            @include App.link($width: 100px)
            

    
#logo
    z-index: 1
    margin: 0
    margin-bottom: -10%
    padding: 0
    width: fit-content
    font-size: 50vw
    font-family: App.$logo-font
    align-self: center
    font-weight: 600
    animation: fadeIn 2s ease 0s 1 normal forwards

@keyframes fadeIn
    0% 
        opacity: 0
        transform: translateX(-50px)

    100% 
        opacity: 1
        transform: translateX(0)
	

#homepage-image
    background-image: url('https://images.pexels.com/photos/12367865/pexels-photo-12367865.jpeg')
    background-repeat: no-repeat
    background-size: cover
    width: 100vw
    height: 50vh
    align-self: center
    box-sizing: border-box
    display: flex
    align-items: flex-end
    figcaption
        @include App.link
    a:visited
        color: App.$primary-color
        

#intro-text
    font-family: App.$info-text-font
    margin: 15px 0px

@media all and (min-width: 500px) 
    #logo
        font-size: 40vw

@media all and (min-width: 1300px) 
    #logo
        font-size: 30vw
    #homepage-image
        figcaption
            padding-left: 10px

@media all and (min-width: 1000px) 
    #homepage-image
        background-image: url(https://images.pexels.com/photos/12095123/pexels-photo-12095123.jpeg)
        background-size: 100%
        background-position: center



@media all and (max-width: 1000px) 
    #logo
        word-break: normal
        height: 60vh
        margin-bottom: -60%
        align-self: flex-start
